- name: Timezone Playbook
  hosts: server
  become: true
  tasks:
    - name: Set timezone with timedatectl
      ansible.builtin.command: timedatectl set-timezone America/Sao_Paulo
      register: timedatectl_output
      changed_when: "'Time zone America/Sao_Paulo' not in timedatectl_output.stdout"

    - name: Make sure timesyncd is stopped
      ansible.builtin.systemd:
        name: systemd-timesyncd.service
        state: stopped

    - name: Copy timesyncd.conf template
      ansible.builtin.template:
        src: ../../config/templates/timesyncd.conf
        dest: /etc/systemd/timesyncd.conf
        mode: '0655'

    - name: Make sure timesyncd is started
      ansible.builtin.systemd:
        name: systemd-timesyncd.service
        state: started
