- name: Install and Configure Web Server
  hosts: server
  become: true
  tasks:
    - name: Install Unzip
      ansible.builtin.apt:
        name: unzip
        state: present
        update_cache: true

    - name: Install Vim
      ansible.builtin.apt:
        name: vim
        state: present
        update_cache: true

    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: true

    - name: Make sure nginx is started
      ansible.builtin.systemd:
        name: nginx.service
        state: started

    - name: Install docker manually
      block:
        - name: Verify if docker is installed
          ansible.builtin.command: docker ps
          changed_when: true
          register: command_result
          ignore_errors: true

        - name: Run fail docker script if command fails
          ansible.builtin.script: ../../scripts/docker.sh
          when: command_result is failed

        - name: Make sure docker is started
          ansible.builtin.systemd:
            name: docker.service
            state: started

    - name: Add the user 'projects' with a bash shell, appending the group 'docker' to the user's groups
      ansible.builtin.user:
        name: projects
        create_home: true
        shell: /bin/bash
        groups: docker
        append: true

    - name: Set authorized key taken from file
      ansible.posix.authorized_key:
        user: projects
        state: present
        key: "{{ lookup('file', ssh_path) }}"

    - name: Clone AWS CLI repository
      ansible.builtin.git:
        repo: https://github.com/dancarvalhodev/docker-aws-cli.git
        dest: /home/projects/repos/docker-aws-cli
        version: master
        clone: true
        update: true
      become: true
      become_user: projects

    - name: Global alias
      ansible.builtin.copy:
        dest: /etc/profile.d/alias_ans.sh
        mode: '0644'
        content: |
          alias dbu="docker compose build && docker compose up -d --force-recreate"
          alias aws="cd /home/projects/repos/docker-aws-cli && docker compose run --rm aws-cli"

    - name: Reboot machine and send a message
      ansible.builtin.reboot:
        msg: "Rebooting machine in 5 seconds"
